header {
    /*
    height: 84px;
    border-bottom: 2px solid #0094ff;
    */
}

.login {
    float: right;
    font-family: none;
    font-size: 14px;
    padding-top: 4px;
}

    .login a {
        color: #e22929;
    }

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

    .reg_form form ul li {
        margin-bottom: 20px;
    }

li {
    list-style-type: none;
}

.reg_form form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14px;
}

.reg_form form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #ff0000;
}

.success {
    color: green;
}

.agree {
    padding-top: 20px;
    padding-left: 100px;
}

    .agree input {
        vertical-align: middle;
    }

    .agree a {
        color: #0094ff;
    }

.btn {
    width: 200px;
    height: 34px;
    background-color: var(--themecolor1);
    font-size: 14px;
    color: black;
    margin: 30px 0 40px 150px;
    border: 1.5px solid var(--themecolor3);
    transition: 0.14s all ease-in;
}

    .btn:hover {
        color: white;
        background-color: var(--themecolor2);
    }
