.search-audio-box {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-left: 15px solid black;
    width: 95%;
    height: 180px;
    /*overflow-y: scroll;*/
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

    .search-audio-box h2 {
        margin: 10px;
        width: 40%;
    }

    .search-audio-box .info-box {
        display: inline-block;
        height: 120px;
        width: 40%;
        padding-left: 10px;
        margin-right: 20px;
    }

        .search-audio-box .info-box .lang {
        }

        .search-audio-box .info-box .location {
        }

        .search-audio-box .info-box .language-family {
        }

        .search-audio-box .info-box .tag {
            display: inline-block;
            margin-right: 10px;
        }

        .search-audio-box .info-box .username {
        }

    .search-audio-box .audio-box {
        display: inline-block;
        top: 10px;
        position: absolute;
        bottom: 10px;
    }

        .search-audio-box .audio-box .translation {
        }

        .search-audio-box .audio-box audio {
        }
