.sidebar li:nth-child(1):hover {
    background-color: var(--themecolor2);
    color: white;
}

.sidebar li:nth-child(2):hover {
    background-color: var(--themecolor2);
    color: white;
}

.sidebar li:nth-child(3):hover {
    background-color: var(--themecolor2);
    color: white;
}

.user_name {
    font-size: 20px;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 10px;
    height: 20px;
}

.user_btn {
    padding-left: 30px;
    padding-top: 10px;
}

.upload {
    float: left;
    height: 20px;
    width: 40px;
    border: 1px solid black;
}

    .upload a {
        line-height: 20px;
        padding-left: 3px;
    }

.logout {
    float: left;
    height: 20px;
    width: 40px;
    margin-left: 10px;
    border: 1px solid black;
}

    .logout a {
        line-height: 20px;
        padding-left: 3px;
    }