.sidebar #user-sidebar li a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 6px;
    color: black;
    transition: 0.14s all ease-in;
    font-family: FZQKBYSJT;
}

.sidebar #user-sidebar li:nth-child(1) {
    border: none;
}

    .sidebar #user-sidebar li:nth-child(1):hover {
        background-color: var(--themecolor2);
        color: white;
    }

.sidebar #user-sidebar li:nth-child(2):hover {
    background-color: var(--themecolor2);
    color: white;
}

.sidebar #user-sidebar li:nth-child(3):hover {
    background-color: var(--themecolor2);
    color: white;
}

.user-info {
    display: inline-block;
    height: 100px;
    width: 300px;
    box-shadow: 3px 3px 3px var(--shadowcolor);
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, var(--userbackgroundcolor), #dda15322);
}

    .user-info .user-name {
        font-size: 18px;
        padding-bottom: 4px;
    }

    .user-info .user-location {
        height: 30px;
        padding-top: 10px;
    }

    .user-info img {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
    }

    .user-info a {
        display: inline-block;
        position: absolute;
        margin-left: 30px;
        color: black;
        font-family: FZQKBYSJT;
    }

    .user-info .user-language {
        height: 30px;
        padding-top: 10px;
    }

.user-btn .upload, .logout {
    display: inline-block;
}

.user-btn a {
    background-color: var(--themecolor1);
    border: 1.5px solid var(--themecolor3);
    width: 100px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 30px;
    display: inline-block;
    color: white;
}

    .user-btn a:hover {
        background-color: var(--themecolor2);
        color: black;
    }
