<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        {% if audioName==None %}
        这里是音频名
        {% else %}
        {{ record.title }}
        {% endif %}
    </title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
    <link rel="stylesheet" href="../static/content/css/audioDetail.css" />
</head>
<body>
    {% include 'navigate.html' %}
    {% include 'sidebar.html' %}
    <div class="content-box">
        {# 传入record #}
        <div class="heading">
            音频名：
            {{ record.title }}
        </div>
        <div class="content">
            <div class="heading">音频</div>
            <div class="audio-detail">
                <audio controls>
                    <source src="{{ record.audioURL }}" type="audio/mpeg">
                </audio>
                <div class="heading">语言</div>
                <div class="lang">
                    <a href="/search/lang={{ record.language }}">{{ record.language }}</a>
                </div>
                <div class="heading">语系</div>
                <div class="language-family">
                    <a href="/search/langFamily={{ record.languageFamily }}">{{ record.languageFamily }}</a>
                </div>
                <div class="heading">地域</div>
                <div class="location">
                    <a href="/search/loc={{ record.location }}">{{ record.location }}</a>
                </div>
                <div class="heading">翻译</div>
                <div class="translation">
                    {{ record.translation }}
                </div>
                <div class="heading">tags</div>
                {% for tag in record.tags %}
                <div class="tag">
                    <a href="/search/tag={{ tag }}">{{ tag }}</a>
                </div>
                {% endfor %}
                <div class="heading">上传者</div>
                <div class="username">
                    上传：<a href="/search/publisher={{ record.userName }}">{{ record.userName }}</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>