{%- if records|length == 0 -%}
抱歉，没有搜索到想要的结果。
{%- else -%}

{#- 音频展示页 -#}
{#- 需要的css文件 -#}
{#- searchResult.css -#}
{#- audioPlayer.css -#}

{%- for item in records -%}
<div class="search-audio-box">
    <h2>{{ item.title }}</h2>
    <div class="translation">
        {{ item.translation }}
    </div>
    <div class="mini-info-box">
        <span class="lang">
            <img src="/static/content/image/language.png" />
            <a href="/search/lang={{ item.language }}">{{ item.language }}</a>
        </span>
        <span class="language-family">
            <a href="/search/langFamily={{ item.languageFamily }}">{{ item.languageFamily }}</a>
        </span>
        <div class="location">
            <img src="/static/content/image/location.png" />
            <a href="/search/loc={{ item.location }}">{{ item.location }}</a>
        </div>
    </div>
    <div class="info-box">
        <span class="lang">
            <img src="/static/content/image/language.png" />
            <a href="/search/lang={{ item.language }}">{{ item.language }}</a>
        </span>
        <span class="language-family-need">
            <a href="/search/langFamily={{ item.languageFamily }}">{{ item.languageFamily }}</a>
        </span>
        <div class="location">
            <img src="/static/content/image/location.png" />
            <a href="/search/loc={{ item.location }}">{{ item.location }}</a>
        </div>
        {% for tag in item.tags %}
        <div class="tag">
            <a href="/search/tag={{ tag }}">{{ tag }}</a>
        </div>
        {% endfor %}
    </div>
    <img id="playbtn"
         src="/static/content/image/play.png"
         width="60"
         height="60"
         style="cursor:pointer;"
         onclick='addToAudioPlayer("{{ item.title }}","{{ item.audioURL }}")' />
    {% if likes | length > 0 %}
    {# 说明有用户登录，按照用户点赞的记录显示点赞图标 #}
    {% if likes[loop.index0] == 0 %}
    {# 该音频记录未进行任何操作 #}
    <div class="likebtn">
        <img id="likebtn{{ loop.index0 }}"
             src="/static/content/image/like_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onmouseover="this.src = '/static/content/image/like.png';"
             onmouseout="this.src = '/static/content/image/like_normal.png';"
             onclick="if (id == 'likebtn{{ loop.index0 }}') like('{{ item.audioURL }}', {{ loop.index0 }}, 1); else cancelLike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    <div class="dislikebtn">
        <img id="dislikebtn{{ loop.index0 }}"
             src="/static/content/image/dislike_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onmouseover="this.src = '/static/content/image/dislike.png';"
             onmouseout="this.src = '/static/content/image/dislike_normal.png';"
             onclick="if (id == 'dislikebtn{{ loop.index0 }}') dislike('{{ item.audioURL }}', {{ loop.index0 }}, 1); else cancelDislike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    {% elif likes[loop.index0] == 1 %}
    {# 该音频记录已点赞 #}
    <div class="likebtn">
        <img id="cancellikebtn{{ loop.index0 }}"
             src="/static/content/image/like.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onclick="if (id == 'likebtn{{ loop.index0 }}') like('{{ item.audioURL }}', {{ loop.index0 }}, 1); else cancelLike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    <div class="dislikebtn">
        <img id="dislikebtn{{ loop.index0 }}"
             src="/static/content/image/dislike_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onmouseover="this.src = '/static/content/image/dislike.png';"
             onmouseout="this.src = '/static/content/image/dislike_normal.png';"
             onclick="if (id == 'dislikebtn{{ loop.index0 }}') dislike('{{ item.audioURL }}', {{ loop.index0 }}, 2); else cancelDislike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    {% elif likes[loop.index0] == -1 %}
    {# 该音频记录已点踩 #}
    <div class="likebtn">
        <img id="likebtn{{ loop.index0 }}"
             src="/static/content/image/like_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onmouseover="this.src = '/static/content/image/like.png';"
             onmouseout="this.src = '/static/content/image/like_normal.png';"
             onclick="if (id == 'likebtn{{ loop.index0 }}') like('{{ item.audioURL }}', {{ loop.index0 }}, 2); else cancelLike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    <div class="dislikebtn">
        <img id="dislikebtn{{ loop.index0 }}"
             src="/static/content/image/dislike.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onclick="if (id == 'dislikebtn{{ loop.index0 }}') dislike('{{ item.audioURL }}', {{ loop.index0 }}, 1); else cancelDislike('{{ item.audioURL }}', {{ loop.index0 }})" />
    </div>
    {% endif %}
    {% else %}
    {# 说明用户未登录，所有点赞图标不可点 #}
    <div class="likebtn">
        <img id="likebtn{{ loop.index0 }}"
             src="/static/content/image/like_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onclick="alert('请登录后进行点赞操作');" />
    </div>
    <div class="dislikebtn">
        <img id="dislikebtn{{ loop.index0 }}"
             src="/static/content/image/dislike_normal.png"
             width="55"
             height="55"
             style="cursor:pointer;"
             onclick="alert('请登录后进行点踩操作');" />
    </div>
    {% endif %}
    <div class="like-number" id="item{{ loop.index0 }}LikeNumber">
        {{ item.like }}
    </div>
    <div class="username">
        上传：<a href="/search/publisher={{ item.userName }}">{{ item.userName }}</a>
    </div>
</div>
    {%- endfor -%}

<!-- 音乐播放器 -->
<span class="audio-title" id="audioTitle"></span>
<div class="container" id="musicBoxContainer"></div>
<!-- 音乐播放器代码 -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/scripts/audioPlayer.js"></script>
<script>
    function addToAudioPlayer(title, url) {
        document.getElementById('audioTitle').innerHTML = title;
        document.getElementById('musicBoxContainer').innerHTML = '<audio preload="auto" src="' + url + '"></audio>';
        $('audio').initAudioPlayer();
        document.getElementById('playButton').click();
    }
    function like(url, index, likeAddNum) {
        //likeAddNum是点赞一次会增加的点赞数
        document.getElementById('likebtn' + index).src = '/static/content/image/like.png';
        document.getElementById('likebtn' + index).onmouseover = '';
        document.getElementById('likebtn' + index).onmouseout = '';
        num = document.getElementById('item' + index + 'LikeNumber').innerHTML * 1;
        document.getElementById('item' + index + 'LikeNumber').innerHTML = num + likeAddNum;
        $.ajax({
            data: {
                audioURL: url
            },
            dataType: "text",
            type: "POST",
            url: "/detail/like",
            success: function (data) { }
        })
    }
    function cancelLike(url, index) {
        document.getElementById('likebtn' + index).src = '/static/content/image/like_normal.png';
        document.getElementById('likebtn' + index).onmouseover = "this.src = '/static/content/image/like.png';";
        document.getElementById('likebtn' + index).onmouseout = "this.src = '/static/content/image/like_normal.png';";
        num = document.getElementById('item' + index + 'LikeNumber').innerHTML * 1;
        document.getElementById('item' + index + 'LikeNumber').innerHTML = num - 1;
        $.ajax({
            data: {
                audioURL: url
            },
            dataType: "text",
            type: "POST",
            url: "/detail/cancelLike",
            success: function (data) { }
        })
    }
    function dislike(url, index, dislikeRemoveNum) {
        //dislikeRemoveNum是点踩一次会减少的点赞数
        document.getElementById('dislikebtn' + index).src = '/static/content/image/dislike.png';
        document.getElementById('dislikebtn' + index).onmouseover = '';
        document.getElementById('dislikebtn' + index).onmouseout = '';
        num = document.getElementById('item' + index + 'LikeNumber').innerHTML * 1;
        document.getElementById('item' + index + 'LikeNumber').innerHTML = num - dislikeRemoveNum;
        $.ajax({
            data: {
                audioURL: url
            },
            dataType: "text",
            type: "POST",
            url: "/detail/dislike",
            success: function (data) { }
        })
    }
    function cancelDislike(url, index) {
        document.getElementById('dislikebtn' + index).src = '/static/content/image/dislike_normal.png';
        document.getElementById('dislikebtn' + index).onmouseover = "this.src = '/static/content/image/dislike.png';";
        document.getElementById('dislikebtn' + index).onmouseout = "this.src = '/static/content/image/dislike_normal.png';";
        num = document.getElementById('item' + index + 'LikeNumber').innerHTML * 1;
        document.getElementById('item' + index + 'LikeNumber').innerHTML = num + 1;
        $.ajax({
            data: {
                audioURL: url
            },
            dataType: "text",
            type: "POST",
            url: "/detail/cancelDislike",
            success: function (data) { }
        })
    }
</script>
<script type="text/javascript">
    //改变颜色
    var boxes = document.getElementsByClassName('search-audio-box');
    var languagefamilies = document.getElementsByClassName('language-family');
    for (var i = 0; i < boxes.length; i++) {
        if (languagefamilies[i].innerText.substring(0, 2) == '官话') {
            boxes[i].style = "border-left-color: var(--guanhuacolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '粤语') {
            boxes[i].style = "border-left-color: var(--yueyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '晋语') {
            boxes[i].style = "border-left-color: var(--jinyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '吴语') {
            boxes[i].style = "border-left-color: var(--wuyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '徽语') {
            boxes[i].style = "border-left-color: var(--huiyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '赣语') {
            boxes[i].style = "border-left-color: var(--ganyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '湘语') {
            boxes[i].style = "border-left-color: var(--xiangyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '闽语') {
            boxes[i].style = "border-left-color: var(--minyucolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 2) == '平话') {
            boxes[i].style = "border-left-color: var(--pinghuacolor);";
        }
        else if (languagefamilies[i].innerText.substring(0, 3) == '客家话') {
            boxes[i].style = "border-left-color: var(--kejiahuacolor);";
        }
        else {
            boxes[i].style = "border-left-color: #919191;";
        }
    }
</script>

{% endif %}