<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>audio</title>
    <link rel="stylesheet" href="/static/content/css/audioPlayer.css" />
</head>
<body>
    <div class="container" id="musicBoxContainer">
        <!-- 音频 -->
        <audio preload="auto" src={{ audioURL }}></audio>
        <!-- //音频 -->

    </div>
    <button onclick="clickButton();"></button>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/scripts/audioPlayer.js"></script>
    <script>
        function clickButton() {
            document.getElementById('musicBoxContainer').innerHTML = '<audio preload="auto" src="static/uploads/test/1604966826697-008.mp3"></audio>';
            $('audio').initAudioPlayer();
            document.getElementById('playButton').click();
        }
        alert('ass');
        $('audio').initAudioPlayer();
    </script>
</body>
</html>