{# 音频展示页 #}

{% for item in records %}
<div class="search-audio-box">
    <h2>{{ item.title }}</h2>
    <div class="translation">
        {{ item.translation }}
    </div>
    <div class="info-box">
        <span class="lang">
            <img src="/static/content/image/language.png" />
            <a href="/search/lang={{ item.language }}">{{ item.language }}</a>
        </span>
        <span class="language-family">
            <a href="/search/langFamily={{ item.languageFamily }}">{{ item.languageFamily }}</a>
        </span>
        <div class="location">
            <img src="/static/content/image/location.png" />
            <a href="/search/loc={{ item.location }}">{{ item.location }}</a>
        </div>
        {% for tag in item.tags %}
        <div class="tag">
            <a href="/search/tag={{ tag }}">{{ tag }}</a>
        </div>
        {% endfor %}
    </div>
    <!--阴影效果不佳-->
    <!--onmouseover="this.style='box-shadow: 2px 2px 2px var(--shadowcolor);'"
onmouseout="this.style='box-shadow: none;'"-->
    <img id="playbtn"
            src="/static/content/image/play.png"
            width="60"
            height="60"
            style="cursor:pointer;"
            onclick='addToAudioPlayer("{{ item.title }}","{{ item.audioURL }}")' />
    {% if likes | length > 0 %}
    {# 说明有用户登录，按照用户点赞的记录显示点赞图标 #}
        {% if likes[loop.index0] == False %}
        {# 该音频记录未点赞 #}
        <img id="likebtn"
                src="/static/content/image/like_normal.png"
                width="55"
                height="55"
                style="cursor:pointer;"
                onmouseover="this.src = '/static/content/image/like.png';"
                onmouseout="this.src = '/static/content/image/like_normal.png';"
                onclick="if (this.id == 'likebtn') like(this, '{{ item.audioURL }}'); else if (this.id == 'cancellikebtn') cancelLike(this, '{{ item.audioURL }}');" />
        点赞数：{{ item.like }}
        {% else %}
        {# 该音频记录已点赞 #}
        <img id="cancellikebtn"
                src="/static/content/image/like.png"
                width="55"
                height="55"
                style="cursor:pointer;"
                onmouseover="this.src = '/static/content/image/like.png';"
                onmouseout="this.src = '/static/content/image/like.png';"
                onclick="if (this.id == 'likebtn') like(this, '{{ item.audioURL }}'); else if (this.id == 'cancellikebtn') cancelLike(this, '{{ item.audioURL }}');" />
        点赞数：{{ item.like }}
        {% endif %}
    {% else %}
    {# 说明用户未登录，所有点赞图标不可点 #}
        <img id="likebtn"
                src="/static/content/image/like_normal.png"
                width="55"
                height="55"
                style="cursor:pointer;"/>
    {% endif %}
    <div class="username">
        上传：<a href="/search/publisher={{ item.userName }}">{{ item.userName }}</a>
    </div>
</div>
{% endfor %}

<!-- 音乐播放器 -->
<span class="audio-title" id="audioTitle"></span>
<div class="container" id="musicBoxContainer">
</div>
<!-- 音乐播放器代码 -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/scripts/audioPlayer.js"></script>
<script>
        function addToAudioPlayer(title, url) {
            document.getElementById('audioTitle').innerHTML = title;
            document.getElementById('musicBoxContainer').innerHTML = '<audio preload="auto" src="' + url + '"></audio>';
            $('audio').initAudioPlayer();
            document.getElementById('playButton').click();
        }
        function like(btn, url) {
            btn.id = 'cancellikebtn';
            btn.src = '/static/content/image/like.png';
            btn.onmouseover = "this.src = '/static/content/image/like.png';";
            btn.onmouseout = "this.src = '/static/content/image/like.png';";
            $.ajax({
                data: {
                    audioURL: url
                },
                dataType: "text",
                type: "POST",
                url: "/detail/like",
                success: function (data) { }
            })
        }
        function cancelLike(btn, url) {
            btn.id = 'likebtn';
            btn.src = '/static/content/image/like_normal.png';
            btn.onmouseover = "this.src = '/static/content/image/like.png';";
            btn.onmouseout = "this.src = '/static/content/image/like_normal.png';";
            $.ajax({
                data: {
                    audioURL: url
                },
                dataType: "text",
                type: "POST",
                url: "/detail/cancelLike",
                success: function (data) { }
            })
        }
</script>