<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>个人注册</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/home.css" />
</head>
<body>
    <div class="header w">
        <!--logo-->
        <div class="logo">
            <h1>
                <a href="" title="主界面"></a>
            </h1>
        </div>
        <!--导航栏-->
        <div class="nav">
            <ul>
                <li><a href="">导航1</a></li>
                <li><a href="">导航2</a></li>
                <li><a href="">导航3</a></li>
                <li><a href="">导航4</a></li>
            </ul>
        </div>
        <!--搜索框-->
        <div class="search">
            <input type="text" value="输入关键词"/>
            <button></button>
        </div>
        <!--用户登录/注册-->
        <div class="user">
            <ul>
                <li><a href="">注册</a></li>
                <li><a href="">登录</a></li>
            </ul>
        </div>
    </div>
</body>
</html>