<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/content/image/LOGO_title.png" type="image/x-icon">
    <title>个人登录</title>
    <!--头格式-->
    <link rel="stylesheet" href="/static/content/css/basic.css" />
    <link rel="stylesheet" href="/static/content/css/register.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="content-box">
        <div class="heading">
            登录
            <span class="login">还没有账号,去<a href="register">注册</a></span>
        </div>
        <div class="reg_form">
            <form method="post" action="login">
                <ul>
                    <li>
                        <label for="">输入用户名：</label><input type="text" name="用户名" class="inp" />
                    </li>
                    <li>
                        <label for="">输入密码：</label><input type="password" name="密码" class="inp" />
                    </li>
                </ul>
                <input type="submit" name="登录" value="登录" class="btn" />
            </form>
            <div class="error" id="errorMessage">
                {% if state == 1 %}
                密码错误
                {% endif %}
                {% if state == 0 %}
                账号未注册
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>