<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人登录</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
    <link rel="stylesheet" href="../static/content/css/register.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="content">
        <div class="heading">
            登录
            <span class="login">还没有账号,去<a href="register">注册</a></span>
        </div>
        <div class="reg_form">
            <form method="post" action="login">
                <ul>
                    <li>
                        <label for="">输入用户名：</label><input type="text" name="用户名" class="inp" />
                    </li>
                    <li>
                        <label for="">输入密码：</label><input type="password" name="密码" class="inp" />
                    </li>
                </ul>
                <input type="submit" name="登录" value="登录" class="btn" />
            </form>
            {# errorStatus==2 密码正确 #}
            {# errorStatus==1 密码错误 #}
            {# errorStatus==0 账号不存在 #}
            {% if errorStatus == 1 %}
            <div class="error">
                密码错误
            </div>
            {% endif %}
            {% if errorStatus == 0 %}
            <div class="error">
                账号不存在
            </div>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>