{# 导航条，需要导航条功能的include自此模板 #}
<header>
    <!--logo-->
    <div class="nav-logo">
        <h1>
            <a href="/home" title="主界面"></a>
        </h1>
    </div>
    <!--搜索框-->
    <div class="search">
        <input type="text" value="输入关键词" />
        <input type="button" value="搜索">
    </div>
    <!--用户登录/注册-->
    {% if userName != None %}
    <div class="user">
        <ul>
            <li><a href="">欢迎，{{ userName }}</a></li>
        </ul>
    </div>
    {% else %}
    <div class="user">
        <ul>
            <li><a href="/user/register">注册</a></li>
            <li><a href="/user/login">登录</a></li>
        </ul>
    </div>
    {% endif %}
</header>