{# 导航条和侧边栏，需要导航条和侧边栏功能的include自此模板 #}
<div class="header">
    <!--logo-->
    <div class="nav-logo">
        <h1>
            <a href="" title="主界面"></a>
        </h1>
    </div>
    <!--搜索框-->
    <div class="search">
        <input type="text" value="输入关键词" />
        <input type="button" value="搜索">
    </div>
    <!--用户登录/注册-->
    {% if isLogin %}
    <div class="user">
        <ul>
            <li><a href="">欢迎，{{ userName }}</a></li>
        </ul>
    </div>
    {% else %}
    <div class="user">
        <ul>
            <li><a href="register">注册</a></li>
            <li><a href="login">登录</a></li>
        </ul>
    </div>
    {% endif %}
    <!--logo-->
    <div class="side-logo">
        <h1>
            <a href="" title="主界面"></a>
        </h1>
    </div>
    <!--侧边栏-->
    <div class="sidebar">
        <ul>
            <li>

            </li>
        </ul>
    </div>
</div>