<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人注册</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
    <link rel="stylesheet" href="../static/content/css/register.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="content">
        <div class="heading">
            注册
            <span class="login">已有账号,去<a href="login">登录</a></span>
        </div>
        <div class="reg_form">
            <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
            <script>
                function checkPassword() {
                    if (password1.value == password2.value) {
                        if (password1.value.length <= 4) {
                            document.getElementById("samePassword").innerHTML = '密码过短';
                            return false;
                        }
                        document.getElementById("samePassword").innerHTML = '';
                        return true;
                    }
                    else {
                        document.getElementById("samePassword").innerHTML = '两次输入的密码不一致';
                        return false;
                    }
                }
                function checkUserName() {
                    error = true;
                    $.get("/user/checkUserName", { username: $('input[name="用户名"]').val() },
                        function (data) {
                            if (data != '用户名合法') {
                                document.getElementById("errorUserName").innerHTML = data;
                                error = true;
                            }       
                            error = false;
                        }
                    );
                    return !error;
                }
            </script>
            <form method="post" action="register" onsubmit="return checkPassword() && checkUserName()">
                <ul>
                    <li>
                        <label for="">输入用户名：</label>
                        <input type="text" name="用户名" class="inp" onblur="checkUserName()" />
                        <span class="error" id="errorUserName"></span>
                    </li>
                    <li>
                        <label for="">输入密码：</label>
                        <input type="password" name="密码" class="inp" id="password1" />
                    </li>
                    <li>
                        <label for="">确认密码：</label>
                        <input type="password" name="确认密码" class="inp" id="password2" onblur="checkPassword()" />
                        <span class="success" id="samePassword"></span>
                    </li>
                    <li class="agree">
                        <input type="checkbox" name="用户条例" />
                        同意用户条例<a href="">《用户协议》</a>
                    </li>
                </ul>
                <input type="submit" name="同意" value="提交注册" class="btn" />
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>