<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>个人注册</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/register.css" />
</head>
<body>
    <div class="header w">
        <!--logo-->
        <div class="logo">
            <img src="../static/content/image/logo.jpg" alt="" />
        </div>
        <!--导航栏-->
        <div class="nav">
            <ul>
                <li><a href="">导航1</a></li>
                <li><a href="">导航2</a></li>
                <li><a href="">导航3</a></li>
                <li><a href="">导航4</a></li>
            </ul>
        </div>
    </div>
</body>
</html>