<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/../static/content/image/LOGO.png" type="image/x-icon">
    <title>搜索结果</title>
    <!--头格式-->
    <link rel="stylesheet" href="/static/content/css/basic.css" />
    <link rel="stylesheet" href="/static/content/css/searchResult.css" />
    <link rel="stylesheet" href="/static/content/css/audioPlayer.css" />
</head>
<body>
    {% include 'navigate.html' %}
    {% include 'sidebar.html' %}
    {# 可能需要搜索条件 #}
    {# 搜索记录呈现 #}
    <div class="content-box">
        <div class="heading">搜索结果</div>
        {% include 'audiosDisplay.html' %}
    </div>
    {% include 'footer.html' %}
    <script type="text/javascript">
        //改变颜色
        var boxes = document.getElementsByClassName('search-audio-box');
        var languagefamilies = document.getElementsByClassName('language-family');
        for (var i = 0; i < boxes.length; i++) {
            if (languagefamilies[i].innerText == '官话') {
                boxes[i].style = "border-left-color: var(--guanhuacolor);";
            }
            else if (languagefamilies[i].innerText == '粤语') {
                boxes[i].style = "border-left-color: var(--yueyucolor);";
            }
            else if (languagefamilies[i].innerText == '晋语') {
                boxes[i].style = "border-left-color: var(--jinyucolor);";
            }
            else if (languagefamilies[i].innerText == '吴语') {
                boxes[i].style = "border-left-color: var(--wuyucolor);";
            }
            else if (languagefamilies[i].innerText == '徽语') {
                boxes[i].style = "border-left-color: var(--huiyucolor);";
            }
            else if (languagefamilies[i].innerText == '赣语') {
                boxes[i].style = "border-left-color: var(--ganyucolor);";
            }
            else if (languagefamilies[i].innerText == '湘语') {
                boxes[i].style = "border-left-color: var(--xiangyucolor);";
            }
            else if (languagefamilies[i].innerText == '闽语') {
                boxes[i].style = "border-left-color: var(--minyucolor);";
            }
            else if (languagefamilies[i].innerText == '平话') {
                boxes[i].style = "border-left-color: var(--pinghuacolor);";
            }
            else if (languagefamilies[i].innerText == '客家话') {
                boxes[i].style = "border-left-color: var(--kejiahuacolor);";
            }
            else {
                boxes[i].style = "border-left-color: #919191;";
            }
        }
    </script>
</body>
</html>