<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>搜索结果</title>
    <!--头格式-->
    <link rel="stylesheet" href="/static/content/css/basic.css" />
    <link rel="stylesheet" href="/static/content/css/searchResult.css" />
    <link rel="stylesheet" href="/static/content/css/audioPlayer.css" />
</head>
<body>
    {% include 'navigate.html' %}
    {% include 'sidebar.html' %}
    {# 可能需要搜索条件 #}
    {# 搜索记录呈现 #}
    <div class="content-box">
        <div class="heading">搜索结果</div>
        {% for item in records %}
        <div class="search-audio-box">
            <h2>{{ item.title }}</h2>
            <div class="translation">
                {{ item.translation }}
            </div>
            <div class="info-box">
                <span class="lang">
                    <img src="/static/content/image/language.png" />
                    <a href="/search/lang={{ item.language }}">{{ item.language }}</a>
                </span>
                <span class="language-family">
                    <a href="/search/langFamily={{ item.languageFamily }}">{{ item.languageFamily }}</a>
                </span>
                <div class="location">
                    <img src="/static/content/image/location.png" />
                    <a href="/search/loc={{ item.location }}">{{ item.location }}</a>
                </div>
                {% for tag in item.tags %}
                <div class="tag">
                    <a href="/search/tag={{ tag }}">{{ tag }}</a>
                </div>
                {% endfor %}
            </div>
            <!--阴影效果不佳-->
            <!--onmouseover="this.style='box-shadow: 2px 2px 2px var(--shadowcolor);'"
            onmouseout="this.style='box-shadow: none;'"-->
            <img id="playbtn"
                 src="/static/content/image/play.png"
                 width="60"
                 height="60"
                 onclick='addToAudioPlayer("{{ item.title }}","{{ item.audioURL }}")' />
            <img id="likebtn"
                 src="/static/content/image/like_normal.png"
                 width="60"
                 height="60"
                 onmouseover="this.src='/static/content/image/like.png'"
                 onmouseout="this.src = '/static/content/image/like_normal.png'"
                 onclick="like(this,'{{ item.audioURL }}');"/>
            {{ item.like }}
            <div class="username">
                上传：<a href="/search/publisher={{ item.userName }}">{{ item.userName }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- 音乐播放器 -->
    <span class="audio-title" id="audioTitle"></span>
    <div class="container" id="musicBoxContainer">
    </div>
    <!-- 音乐播放器代码 -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/scripts/audioPlayer.js"></script>
    <script>
        function addToAudioPlayer(title, url) {
            document.getElementById('audioTitle').innerHTML = title;
            document.getElementById('musicBoxContainer').innerHTML = '<audio preload="auto" src="' + url + '"></audio>';
            $('audio').initAudioPlayer();
            document.getElementById('playButton').click();
        }
        function like(btn, url) {
            $.ajax({
                data: {
                    audioURL: url
                },
                type: "POST",
                dataType: "text",
                url: "/detail/like"
            })
            //修改点赞图标为蓝色
        }
        function cancelLike(btn, url) {
            $.ajax({
                data: {
                    audioURL: url
                },
                type: "POST",
                dataType: "text",
                url: "/detail/cancelLike"
            })
        }
    </script>
    {% include 'footer.html' %}
    <script type="text/javascript">
        //改变颜色
        var boxes = document.getElementsByClassName('search-audio-box');
        var languagefamilies = document.getElementsByClassName('language-family');
        for (var i = 0; i < boxes.length; i++) {
            if (languagefamilies[i].innerText == '官话') {
                boxes[i].style = "border-left-color: var(--guanhuacolor);";
            }
            else if (languagefamilies[i].innerText == '粤语') {
                boxes[i].style = "border-left-color: var(--yueyucolor);";
            }
            else if (languagefamilies[i].innerText == '晋语') {
                boxes[i].style = "border-left-color: var(--jinyucolor);";
            }
            else if (languagefamilies[i].innerText == '吴语') {
                boxes[i].style = "border-left-color: var(--wuyucolor);";
            }
            else if (languagefamilies[i].innerText == '徽语') {
                boxes[i].style = "border-left-color: var(--huiyucolor);";
            }
            else if (languagefamilies[i].innerText == '赣语') {
                boxes[i].style = "border-left-color: var(--ganyucolor);";
            }
            else if (languagefamilies[i].innerText == '湘语') {
                boxes[i].style = "border-left-color: var(--xiangyucolor);";
            }
            else if (languagefamilies[i].innerText == '闽语') {
                boxes[i].style = "border-left-color: var(--minyucolor);";
            }
            else if (languagefamilies[i].innerText == '平话') {
                boxes[i].style = "border-left-color: var(--pinghuacolor);";
            }
            else if (languagefamilies[i].innerText == '客家话') {
                boxes[i].style = "border-left-color: var(--kejiahuacolor);";
            }
            else {
                boxes[i].style = "border-left-color: #919191;";
            }
        }
    </script>
</body>
</html>