<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/content/image/LOGO_title.png" type="image/x-icon">
    <title>搜索结果</title>
    <!--头格式-->
    <link rel="stylesheet" href="/static/content/css/basic.css" />
    <!--<link rel="stylesheet" href="/static/content/css/searchResult.css" />-->
    <link rel="stylesheet" href="/static/content/css/searchResultMini.css" />
    <link rel="stylesheet" href="/static/content/css/audioPlayer.css" />
</head>
<body>
    {% include 'navigate.html' %}
    {% include 'sidebar.html' %}
    {# 可能需要搜索条件 #}
    {# 搜索记录呈现 #}
    <div class="content-box">
        <div class="heading">搜索结果</div>
        {% include 'audiosDisplay.html' %}
    </div>
    {% include 'footer.html' %}
</body>
</html>