{# 内容页侧边栏include自此模板 #}
<!--侧边栏-->
<div class="sidebar">
    <ul>
        <li>
            <a href="">官话</a>
        </li>
        <li>
            <a href="">晋语</a>
        </li>
        <li>
            <a href="">吴语</a>
        </li>
        <li>
            <a href="">徽语</a>
        </li>
        <li>
            <a href="">赣语</a>
        </li>
        <li>
            <a href="">湘语</a>
        </li>
        <li>
            <a href="">闽语</a>
        </li>
        <li>
            <a href="">平话</a>
        </li>
        <li>
            <a href="">客家话</a>
        </li>
    </ul>
</div>