{# 内容页侧边栏include自此模板 #}
<!--侧边栏-->
<div class="sidebar">
    <ul>
        <li>
            <a id="a2">官话</a>
        </li>
        <li>
            <a id="b2">粤语</a>
        </li>
        <li>
            <a id="c2">晋语</a>
        </li>
        <li>
            <a id="d2">吴语</a>
        </li>
        <li>
            <a id="e2">徽语</a>
        </li>
        <li>
            <a id="f2">赣语</a>
        </li>
        <li>
            <a id="g2">湘语</a>
        </li>
        <li>
            <a id="h2">闽语</a>
        </li>
        <li>
            <a id="i2">平话</a>
        </li>
        <li>
            <a id="j2">客家话</a>
        </li>
    </ul>
</div>