{# 内容页侧边栏include自此模板 #}
<!--侧边栏-->
<div class="sidebar">
    <ul id="main-sidebar">
        <li id="a2">
            <a>官话</a>
        </li>
        <li id="b2">
            <a>粤语</a>
        </li>
        <li id="c2">
            <a>晋语</a>
        </li>
        <li id="d2">
            <a>吴语</a>
        </li>
        <li id="e2">
            <a>徽语</a>
        </li>
        <li id="f2">
            <a>赣语</a>
        </li>
        <li id="g2">
            <a>湘语</a>
        </li>
        <li id="h2">
            <a>闽语</a>
        </li>
        <li id="i2">
            <a>平话</a>
        </li>
        <li id="j2">
            <a>客家话</a>
        </li>
    </ul>
</div>