<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>上传</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
</head>
<body>
    {% include 'navigate.html' %}

    {# 搜索记录呈现 #}
    {% for item in records %}
        {{ item.url }}
        {{ item.lang }}
        {{ item.loc }}
        {{ item.translation }}
        {{ item.publisher }}
        {% for tag in item.tags %}
            {{ tag }}
        {% endfor %}
    {% endfor %}

    {% include 'footer.html' %}
</body>
</html>