<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>上传</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="content-box">
        <div class="heading">
            上传录音
        </div>
        <form action="/my/uploadform" method="post" enctype="multipart/form-data">
            <p>标题：<input type="text" name="标题"></p>
            <p>翻译：<input type="text" name="翻译"></p>
            <p>地域：<input type="text" name="地域"></p>
            <p>语言：<input type="text" name="语言"></p>
            <p>标签1：<input type="text" name="标签1"></p>
            <p>标签2：<input type="text" name="标签2"></p>
            <p>标签3：<input type="text" name="标签3"></p>
            <p>上传文件(没有限定文件类型，不过尽量mp3)：<input type="file" name="record_file"></p>
            <p><input type="submit" value="submit"></p>
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>