<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/content/image/LOGO_title.png" type="image/x-icon">
    <title>上传</title>
    <!--头格式-->
    <link rel="stylesheet" href="/static/content/css/basic.css" />
    <link rel="stylesheet" href="/static/content/css/upload.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="content-box">
        <div class="heading">
            上传录音
        </div>
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            function checkUpload() {
                document.getElementById('hint').innerHTML = ''
                if (ptitle.value == '') {
                    document.getElementById('hint').innerHTML = '标题不能为空'
                    return false;
                }
                if (lang.value == '') {
                    document.getElementById('hint').innerHTML = '语言不能为空'
                    return false;
                }
                if (psubmit.value == '') {
                    document.getElementById('hint').innerHTML = '文件不能为空'
                    return false;
                }
                alert('音频上传成功!');
                return true;
            }

            function selectLanguage() {
                document.getElementById('lang').value =
                    document.getElementById('langSelect').options[document.getElementById('langSelect').selectedIndex].value;
            }

            function onFileChange(target) {
                var name = target.files[0].name; // 文件名
                document.getElementById('fileHint').innerHTML = name //显示文件名
            }

            var maxTagLength = 5;
            var availableNumbers = new Array("4", "3", "2", "1", "0");
            function removeTag(target) {
                if (!document.getElementById('addButton')) {
                    //如果增加的按钮不存在，则加回来
                    $("#labelField").children().eq(maxTagLength - 1).after('<button type="button" onclick="addTag()" id="addButton"></button>')
                }
                target.remove();
                availableNumbers.push(target.id)
            }
            function addTag() {
                var count = document.getElementById('labelField').childElementCount - 1; //除去最后一个按钮
                if (count == 0) {
                    //在加号按钮前加
                    var num = availableNumbers.pop();
                    $("#addButton").before('<span class="label" id="' + num + '"><input type="text" name="标签' + num + '"id="ptap"><button type="button" id="deleteButton" onclick="removeTag(this.parentNode);"></button></span>')
                }
                else if (count < maxTagLength) {
                    //标签最多不能超过5个
                    var num = availableNumbers.pop();
                    $("#labelField").children().eq(count - 1).after('<span class="label" id="' + num + '"><input type="text" name="标签' + num + '"id="ptap"><button type="button" id="deleteButton" onclick="removeTag(this.parentNode);"></button></span>');
                }
                if (count == maxTagLength - 1) {
                    //添加最后一个标签时，将增加的按钮删掉
                    $("#addButton").remove();
                }
            }
        </script>
        <form action="/my/uploadform" method="post" enctype="multipart/form-data" onsubmit="return checkUpload()">
            <p>
                <div class="upload-title">
                    标题
                </div>
                <input type="text"
                       name="标题"
                       placeholder="请输入标题"
                       onfocus="if(placeholder=='请输入标题')placeholder=''"
                       onblur="if(!placeholder)placeholder='请输入标题'"
                       id="ptitle">
            </p>
            <div class="upload-translation">
                翻译
            </div>
            <textarea name="翻译"
                      placeholder="请输入翻译"
                      onfocus="if(placeholder=='请输入翻译')placeholder=''"
                      onblur="if(!placeholder)placeholder='请输入翻译'"
                      id="trans"></textarea>
            <p>
                <div class="upload-location">
                    地域
                </div>
                <input type="text" name="地域"
                       placeholder="请输入地域"
                       onfocus="if(placeholder=='请输入地域')placeholder=''"
                       onblur="if(!placeholder)placeholder='请输入地域'"
                       id="pspace">
            </p>
            <p>
                <div class="upload-language">
                    语言
                </div>
                <input name="语言" type="hidden" id="lang" placeholder="请选择语言">
                <select onchange="selectLanguage()" id="langSelect" name="语言1">
                    <option>请选择语言</option>
                    {% for item in languageOptions %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <div class="upload-tag">
                    标签
                </div>
                <div class="labelField" id="labelField">
                    <button type="button" onclick="addTag()" id="addButton"></button>
                </div>
            </p>
            <a href="javascript:;" class="file">
                选择文件
                <input type="file" name="record_file" id="psubmit" onchange="onFileChange(this)" accept="audio/mp3">
            </a>
            <span class="fileHint" id="fileHint"></span>
            <p><input type="submit" value="确认上传" id="psub"></p>
        </form>
        <form action="/my/addNewLanguage" method="post" enctype="multipart/form-data">
            <p id="hint"></p>
            <div class="add-lang">
                <div class="text-addlang">
                    没有您家乡的语言？在此添加：
                </div>
                <input type="text" name="语系"
                       placeholder="添加语系"
                       onfocus="if(placeholder=='添加语系')placeholder=''"
                       onblur="if(!placeholder)placeholder='添加语系'"
                       id="addlang">
                <input type="text" name="语言"
                       placeholder="添加语言"
                       onfocus="if(placeholder=='添加语言')placeholder=''"
                       onblur="if(!placeholder)placeholder='添加语言'"
                       id="addlang">
            </div>
            <p>
                <input type="submit" value="确认添加" id="psub">
            </p>
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>