<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>用户界面</title>
    <!--头格式-->
    <link rel="stylesheet" href="../static/content/css/basic.css" />
    <link rel="stylesheet" href="../static/content/css/user.css" />
</head>
<body>
    {% include 'navigate.html' %}
    <div class="yonghu">
        <div class="shoucang">
            <ul>
                <li><a href="">我的上传</a></li>
                <li><a href="">我的收藏</a></li>
            </ul>
        </div>
        <div class="zhuti">
            <h3>
                <span class="yp">音频列表</span>
                <span class="num">共3个音频</span>
            </h3>
            <div class="nav">
                <span class="name">标题</span>
                <span class="time">时长</span>
                <span class="tag">标签</span>
                <span class="act">操作</span>
            </div>
            <ul>
                <li>
                    <span class="xuhao">1</span>
                    <button class="play"></button>
                    <span class="biaoti"><a href="">喜羊羊与灰太狼</a></span>
                    <span class="changdu">3:30</span>
                    <span class="biaoqian"><a href="">儿歌</a> <a href="">动画</a></span>
                    <button class="shanchu"></button>
                    <button class="xiazai"></button>
                </li>
                <li>
                    <span class="xuhao">2</span>
                    <button class="play"></button>
                    <span class="biaoti"><a href="">最炫民族风</a></span>
                    <span class="changdu">3:00</span>
                    <span class="biaoqian"><a href="">流行</a></span>
                    <button class="shanchu"></button>
                    <button class="xiazai"></button>
                </li>
                <li>
                    <span class="xuhao">3</span>
                    <button class="play"></button>
                    <span class="biaoti"><a href="">未闻花名</a></span>
                    <span class="changdu">4:30</span>
                    <span class="biaoqian"><a href="">日语</a> <a href="">动漫</a> <a href="">催泪</a></span>
                    <button class="shanchu"></button>
                    <button class="xiazai"></button>
                </li>
                <li>
                    <span class="xuhao">3</span>
                    <button class="play"></button>
                    <span class="biaoti"><a href="">茉莉花</a></span>
                    <span class="changdu">3:40</span>
                    <span class="biaoqian"><a href="">民族</a> <a href="">流行</a></span>
                    <button class="shanchu"></button>
                    <button class="xiazai"></button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>